<% if  current_user.admin? or current_user.id == @team.owner_id %>
<h4 class="page-header">Objetos de aprendizagem já utilizados nesta turma</h4>
  <% @los.each do |lo| %>
<section class="well"><header class="clearfix">
  <div class="left">
    <h4><%= link_to lo.name, overview_panel_team_lo_path(@team, lo)%></h4>
        <span class="date-info">
      Resumo
    </span>
  </div>
</section>
  <% end %>
<% end %>
<h4 class="page-header">Alunos matriculados nesta turma</h4>
<table class="table table-hover table-bordered" style="width:auto;">
	<% @team.users.each do |u| %>
  <tr>
		<td><%= link_to u.name, panel_team_user_path(@team, u)%> <small>(<%= u.email %>)</small> <small><%= "(Seu próprio usuário)" if u.id ==current_user.id %></small></td>
  </tr>
	<% end %>
</table>