<header>
  <div class='center'>
   <div>
      <h4>{{title}}</h4>
    </div>
  </div>
</header>

<!--<div class='text-right'><a href='' class='reset-exercise'><i class='icon-remove-circle'></i> Limpar Respostas</a></div>-->
<hr>
<div>{{safe content}}</div>
