<div class='page-header clearfix'>
   <div class='clearfix'>
     <div class='left'>
       <h3>Exercícios para o OA {{name}}</h3>
     </div>
     <div class='right'>
        <a href='#' id='new_exer' ><i class="icon-plus-sign"></i> Criar novo exercício </a>
     </div>
   </div>
</div>
