<hr />
<header>
  <h4>{{title}}</h4>
</header>

<p> {{content}} </p>

<form class="well form-horizontal" id="{{id}}">

  <label for="answer">Resposta:</label>
  <input name="id" type="hidden" value='{{id}}' />
  <input name="answer" type="text" placeholder="Digite sua resposta." />

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
