<div class="row">
  <div id="search-result-count" class="col-md-12 text-center" style="margin-bottom:20px;">
    <%= as.count %> respostas encontradas.
  </div>
</div>
<%= render :partial => "dashboard/answers/answer_card", :locals => {:answers => @as} %>