<div class="row">
  <div id="search-result-count" class="col-md-12 text-center" style="margin-bottom:20px;">
    <%= as.count %> respostas encontradas.
  </div>
</div>

<!-- The time line -->
          <ul class="timeline">
<% timeline_items.each do |item| %>
  <% case item[0] %>
  <% when "new_date" %>
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
          <%= item[1][0].strftime("%d/%m/%Y") %>
        </span>
    </li>

  <% when "answer" %>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <li>
        <% a = as[item[1][0]] %>

        <% if a.correct %>
          <i class="fa fa-check bg-green"></i>
        <% else %>
          <i class="fa fa-times bg-red"></i>
        <% end %>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> <%= a.created_at.strftime("%H:%M")%></span>
            <h3 class="timeline-header">Nova tentativa</h3>
            <div class="timeline-body">
              <%= render :partial => "dashboard/answers/card", :locals => {:a => a, :button_tag => false } %>

            </div>
            <div class='timeline-footer'>
              
            </div>
        </div>
    </li>
  

  <% end %>
              
              
<% end %>

<li>
  <i class="fa fa-clock-o"></i>
</li>
</ul>