<%= content_for :scripts do %>
  <%= javascript_include_tag 'dashboard/resizeApp' %>
<% end %>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ajuda
        <small>Consulte detalhes sobre o Farma-Alg</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
        <li><i class="fa fa-question-circle active"></i> Ajuda</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <!-- Left col -->
        <section class="col-lg-8 col-lg-offset-2">

          <div class="box box-info">
              <div class="box-header">
                  <i class="fa fa-question-circle"></i>

                  <h3 class="box-title">Ajuda do Farma-alg</h3>
              </div><!-- /.box-header -->

              <div class="box-body">
                Ajuda em construção ...
              </div><!-- /.box-body -->
          </div><!-- /.box -->

        </section>
      </div>
  </section>
