<div id='main-menu' class="span3">
  <aside>
        <div class="sidebar-nav">
          <ul id='side-menu' class="nav nav-tabs nav-stacked nav-fixed">
            <li>
                <a href="#los" data-url='/los' id='los-link'>
                  <i class="icon-chevron-right"></i> Objetos de Aprendizagem
                </a>
            </li>
            <li><a href="#"><i class="icon-chevron-right"></i> Fractais </a></li>
            <li>
              <a href="#"><i class="icon-chevron-right"></i> Turmas </a>
              <ul class='sub-menu'>
                <li>
                  <a href="#" data-url='/teams/created' id='created-link'>
                  <i class="icon-chevron-right"></i> Criadas </a>
                </li>
                <li>
                  <a href="#" data-url='/teams/enrolled' id='enrolled-link'>
                  <i class="icon-chevron-right"></i> Matriculadas </a>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="icon-chevron-right"></i> Erros e Acertos </a></li>
            <li><a href="#" data-url='/help' id='help-link' ><i class="icon-chevron-right"></i> Ajuda </a></li>
          </ul>
       </div>
  </aside>
</div>

<a href='#' class='toggle-menu' rel="tooltip" data-placement="right"
  data-original-title="Esconder menu" ><i class='icon-caret-left'></i></a>

<div id="main-container" class="span9">
   <div id="breadcrumb"></div>
    <div id="alert-msg"></div>
   <section id="content">
    <h1>Olá</h1>
      <p>Seja Bem-Vindo ao Sistema</p>
    </div>
   </section>
</div>
