  <div class="virtual-keyboard-body modal-body">
      <div class="well">
        <div id="code"></div>
        <div id="aaa">
          <select id="languages">
          </select>
        </div>
           <div>
             <a href="#display" class="clean btn" data-value="clean" title="Limpar">Limpar</a>
             <a href="#display" class="send btn  btn-primary" data-value="send" title="Enviar">Enviar</a>
           </div>

         </div>
      </div>
  </div>