  <!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Teclado Virtual</h3>
  </div> -->

  <div class="virtual-keyboard-body modal-body">
      <div class="well">
         <div class="display"></div>
         <input type="text" class="keyboard-input">
         <span class="error">Expressão Inválida</span>
         <div class="btns btn-toolbar">
           <div>
             <a href="" class="btn" data-value="7" title="Número 7">7</a>
             <a href="" class="btn" data-value="8" title="Número 8">8</a>
             <a href="" class="btn" data-value="9" title="Número 9">9</a>
             <a href="" class="btn" data-value="^" title="Potência">x<sup>y</sup></a>
             <a href="" class="btn" data-value="backspace" title="Backspace">&larr;</a>
           </div>
           <div>
             <a href="" class="btn" data-value="4" title="Número 4">4</a>
             <a href="" class="btn" data-value="5" title="Número 5">5</a>
             <a href="" class="btn" data-value="6" title="Número 6">6</a>
             <a href="" class="btn" data-value="+" title="+">&plus;</a>
             <a href="" class="btn" data-value="-" title="-">&minus;</a>
           </div>
           <div>
             <a href="" class="btn" data-value="1" title="Número 1">1</a>
             <a href="" class="btn" data-value="2" title="Número 2">2</a>
             <a href="" class="btn" data-value="3" title="Número 3">3</a>
             <a href="" class="btn" data-value="*" title="Mdivtiplicação">x</a>
             <a href="" class="btn" data-value="/" title="Divisão">&frasl;</a>
           </div>
           <div>
             <a href="" class="btn" data-value="." title="Virgdiva">.</a>
             <a href="" class="btn" data-value="0" title="Número 0">0</a>
             <a href="" class="btn" data-value="(" title="Abre Parênteses">(</a>
             <a href="" class="btn" data-value=")" title="Fecha Parênteses">)</a>
             <a href="" class="btn" data-value="sqrt" title="Raiz Quadrada">&radic;</a>
           </div>
           <hr>
           <div class='variables'></div>
           <div>
             <a href="#display" class="clean btn" data-value="clean" title="Limpar">Limpar</a>
             <a href="#display" class="calc btn  btn-info" data-value="calc" title="Enviar">Calcular</a>
             <a href="#display" class="send btn  btn-primary" data-value="send" title="Enviar">Enviar</a>
           </div>
         </div>
      </div>
  </div>

 <!-- <div class="modal-footer"></div> -->
