  <div class="virtual-keyboard-body modal-body">
      <div class="well">
        <div id="code"></div>
        <div style="margin: 10px 0;" class="controls">
          <select id="languages">
          </select>
        </div>
           <div>
            <a href="#display" class="send btn  btn-primary" data-value="send" title="Enviar">Enviar</a>
            <a style="margin-left:15px;" href="#display" class="clean btn" data-value="clean" title="Limpar">Limpar</a>
            <a href="#display" class="cancel btn" data-value="cancel" title="Cancelar">Cancelar</a>
           </div>
         </div>
      </div>
  </div>
