<% i = 0 %>
<% button_add = false unless defined?(button_add) %>
<% answers.each do |a| %>

  <% if i == 0 %>
    <div class="row padding">
  <% end %>
  <% i = i + 1 %>
    <section class="answer col-lg-<%= 12/n %>" id="<%=a.id%>">
      <%= render :partial => "dashboard/answers/card", :locals => {:a => a, :button_tag => button_tag, :button_add => button_add } %>
    </section><!-- /.Left col -->
  <% if i == n %>
    </div>
    <% i = 0 %>
  <% end %>
<% end %>
<% if i != 0 %>
  </div>
<% end %>