<hr />
<header>
  <div class='clearfix '>
    <span class='left move'>
      <i rel="tooltip" data-original-title="Clique e arraste para ordernar" class="icon-move"></i>
    </span>
    <span class='icon'>
      {{#if available }}
        <i rel="tooltip" data-original-title="Questão Publicada" class='left icon-certificate icon-green'></i>
      {{else}}
        <i rel="tooltip" data-original-title="Questão não Publicado" class='left icon-certificate icon-red'></i>
      {{/if}}
    </span>
    <h4 class='left'>{{title}}</h4>
    <div class='right'>
      <a href='' class='edit-question-link' ><i class="icon-edit"></i> Editar </a>
      <a href='' class='destroy-question-link' ><i class="icon-remove-circle"></i> Remover </a>
      <a href='' class='show-tips-link'><i class="icon-eye-open"></i> Dicas </a>
    </div>
  </div>
</header>


<p> {{safe content}} </p>

<div class='well' >
  <p><strong>Entrada:</strong> {{input}}</p>

   <div>
     <label for="answer">Teste sua resposta:</label>
     <div class="row-fluid show-grid answer-group">
     </div>
   </div>

  <section class='tips hide'>
    <div class='clearfix separator-top'>
      <div class='left'>
        <h4>Dicas:</h4>
      </div>
      <div class='right'>
        <a href='' class='new-tip-link' ><i class="icon-plus-sign"></i> Criar nova dica </a>
      </div>
    </div>
    <section>
      <div class='new-tip'></div>
    </section>

  </section>

</div>
