<hr />
<header>
  <div class='clearfix '>
    <span class='left move'>
      <i rel="tooltip" data-original-title="Clique e arraste para ordernar" class="icon-move"></i>
    </span>
    <span class='icon'>
      {{#if available }}
        <i rel="tooltip" data-original-title="Questão Publicada" class='left icon-certificate icon-green'></i>
      {{else}}
        <i rel="tooltip" data-original-title="Questão não Publicado" class='left icon-certificate icon-red'></i>
      {{/if}}
    </span>
    <h4 class='left'>{{title}}</h4>
    <div class='right'>
      <a href='' class='edit-question-link' ><i class="icon-edit"></i> Editar </a>
      <a href='' class='destroy-question-link' ><i class="icon-remove-circle"></i> Remover </a>
      <a href='' class='show-test_cases-link'><i class="icon-ok"></i> Casos de teste </a>
    </div>
  </div>
</header>


  <section class='test_cases hide'>
    <div class='clearfix separator-top'>
      <div class='left'>
        <h4>Casos de Teste:</h4>
      </div>
      <p></p>
      <div class='right'>
        <a href='' class='new-test_case-link' ><i class="icon-plus-sign"></i> Criar novo caso de teste </a>
      </div>
    </div>
    <section>
      <div class='new-test_case'></div>
    </section>

  </section>


<p> {{safe content}} </p>

<div class='well' >
   <div>
     <label for="answer">Teste sua resposta:</label>
     <div class="answer-group">
     </div>
   </div>

</div>
