<div class='page-header clearfix'>
   <div class='clearfix'>
     <div class='left'>
       <h3>Objetos de Aprendizagem</h3>
     </div>
     <div class='right'>
        <a href='#' id='new_lo' ><i class="icon-plus-sign"></i> Criar Objeto de Aprendizagem </a>
     </div>
   </div>
</div>
