<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Editar turma <small>altere os dados da sua turma</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> <%= link_to "Home", dashboard_home_path %></li>
        <li class="active"><i class="fa fa-users"></i> Editar turma</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header">
                  <h3 class="box-title">Editar turma</h3>
                </div>
                <div class="box-body">
                  <%= render "form" %>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
