<div class='clearfix'>
  <div class='right'>
    <a href='' class='edit-test_case-link' ><i class="icon-edit"></i> Editar </a>
    <a href='' class='destroy-test_case-link' ><i class="icon-remove-circle"></i> Remover </a>
  </div>
  <p><strong>Texto: </strong>{{safe content}}</p>
  <p><strong>Entrada: </strong>{{safe input}}</p>
  <p><strong>Saída: </strong>{{safe output}}</p>
 	<p><strong>Tempo máximo de execução: </strong>{{safe timeout}} segundo(s)</p>  
</div>
