<h3>Entre em contato conosco</h3>
<form id="contact-form" class="form-vertical" novalidate>
  <fieldset>

    <div class="control-group name_group">
      <label class="control-label" for="name">Nome *</label>
      <div class="controls">
        <input id="name" name="name" type="text" required="required" />
      </div>
    </div>

    <div class="control-group email_group">
      <label class="control-label" for="email">Email *</label>
      <div class="controls">
        <input id="email" name="email" type="email" required="required" />
      </div>
    </div>

    <div class="control-group message_group">
      <label class="control-label" for="message">Mensagem *</label>
      <div class="controls">
        <textarea id='ckeditor' name="message" required="required"></textarea>
      </div>
    </div>

    <div class="control-group">
      <input type="submit" value="Enviar" class="btn btn-primary" />
    </div>

  </fieldset>
</form>
