<!-- row of columns -->
<div class="row-fluid info-home">
  <div class="span4">
    <h2>Objeto de Aprendizagem</h2>
    <p>
      Um OA é "qualquer material digital, como, por exemplo, textos, animações, vídeos, imagens, aplicações, páginas web de forma isolada ou em combinação, com fins educacionais" (BEHAR et al, 2009). Ribeiro, Longaray e Behar (2011) completam: "Um OA pode ser qualquer material, desde que seja utilizado com fins educativos e embasamento pedagógico". OAs podem ser aplicados no âmbito da aprendizagem, educação ou treinamento, podendo envolver os mais diferentes temas e níveis de escolaridade, desde simulações de experimentos químicos, até alfabetização de crianças e adultos, por exemplo (IEEE, 2012; MONTEIRO, 2009).
    </p>
  </div>

  <div class="span4">
    <h2>Farma e Objetos de Aprendizagem</h2>
    <p>
       Ferramenta de Autoria para a Remediação de erros com Mobilidade na Aprendizagem. Facilita a construção
       e distribuição de objetos de Aprendizagem para o ensino de matemática.
    </p>
  </div>

  <div class="span4">
    <h2>Começe a utilizar a FARMA</h2>
    <p>
      Acesse o <a target="_blank" href="/assets/farma-guia-do-professor.pdf">Guia do Professor</a> e começe
      a utilizar a FARMA para criar objetos de aprendizagem.
    </p>
    <p><a id="lo-example-link" href="#">Veja um exemplo de um OA criado com a FARMA</a></p>
    <p>Eventuais dúvidas entre em contato conosco pelo formulário de contato</p>
  </div>
</div>
