<div id="screen-shot-01"  class="modal hide fade center">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3>Autoria de Exercício</h3>
   </div>
   <img src="/assets/screen-shots/01.png">
</div>

<div id="screen-shot-02"  class="modal hide fade center">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3>Interação com o Exercício</h3>
   </div>
   <img src="/assets/screen-shots/02.png">
</div>

<div id="screen-shot-03"  class="modal hide fade center">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3>Autoria de Dicas</h3>
   </div>
   <img src="/assets/screen-shots/03.png">
</div>

<div id="screen-shot-04"  class="modal hide fade center">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3>Autoria e Visualização de Introdução</h3>
   </div>
   <img src="/assets/screen-shots/04.png">
</div>

<div id="screen-shot-05"  class="modal hide fade center">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3>Retroação a Erros</h3>
   </div>
   <img src="/assets/screen-shots/05.png">
</div>

<!-- starts screnshots -->
<section class="screen-shots">
  <header>
    <h3>Screenshoots</h3>
  <header>
  <div class="row-fluid">
     <div class="span3">
       <h4>Autoria de exercício</h4>
       <a data-toggle="modal" href="#screen-shot-01">
         <img src="/assets/screen-shots/01.png" class="img-polaroid">
       </a>
     </div>
     <div class="span3">
       <h4>Interação com o exercício</h4>
       <a data-toggle="modal" href="#screen-shot-02">
         <img src="/assets/screen-shots/02.png" class="img-polaroid">
       </a>

     </div>
     <div class="span3">
       <h4>Autoria e Visualização de Introdução</h4>
       <a data-toggle="modal" href="#screen-shot-04">
         <img src="/assets/screen-shots/04.png" class="img-polaroid">
       </a>
       <h4>Autoria de dicas</h4>
       <a data-toggle="modal" href="#screen-shot-03">
        <img src="/assets/screen-shots/03.png" class="img-polaroid">
       </a>
     </div>
     <div class="span3">
       <h4>Retroação a Erros</h4>
       <a data-toggle="modal" href="#screen-shot-05">
         <img src="/assets/screen-shots/05.png" class="img-polaroid">
       </a>
     </div>
  </div>
</section>
<!-- end screnshots -->
