<!--
<section class="span12">
    <section id="carousel">
       <div id="headerCarousel" class="carousel slide">-->
          <!-- v. 2.3.1
          <ol class="carousel-indicators">
            <li data-target="#headerCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#headerCarousel" data-slide-to="1"></li>
            <li data-target="#headerCarousel" data-slide-to="2"></li>
          </ol> -->
          <!-- Carousel items -->
          <!--
          <div class="carousel-inner">
            <div class="active item row-fluid">
              <div class="span3 offset1">
                <h2>FARMA</h2>
                  <p>Crie os mais diverso objetos de aprendizagem que envolva conceitos matemáticos</p>
                  <p>
                    Com a FARMA é fácil criar objetos de aprendizagens fácil
                  </p>
              </div>

              <div class="span8">
                <img src="/assets/headers/farma-carousel-header-01.jpg" alt="Matemática" class="img-rounded" />
              </div>-->

              <!--<div class="carousel-caption">
                <h4>Third Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in,
                   egestas eget quam. Donec id elit non mi porta
                  gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div> -->
            <!--</div>

            <div class="item">
              <div class="span3 offset1">
                <h2>Fractais</h2>
                  <p>Utilize os conceitos matemáticos intrísicos dos fracteis para criar objetos de aprendizagem que
                    estimulem a abastração do aprendiz.
                  </p>
              </div>
              <div class="span8">
                <img src="/assets/headers/farma-carousel-header-02.jpg" alt="Matemática" />
              </div>
            </div>

            <div class="item">
              <div class="span3 offset1">
                <h4>Construa OAs para:</h4>
                <ul>
                  <li>Matemática</li>
                  <li>Física</li>
                  <li>Química</li>
                <ul>
              </div>
              <div class="span8">
                <img src="/assets/headers/farma-carousel-header-03.jpg" alt="Matemática" />
              </div>
            </div>
          </div>-->

          <!-- Carousel nav --><!--
          <a class="carousel-control left" href="#headerCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#headerCarousel" data-slide="next">&rsaquo;</a>
       </div>
    </section>
-->
    <!--<hr>-->
    {{ include "home/_info" }}
    <!--<hr>-->
    {{ include "home/_screen_shots" }}
    <!--<hr>-->
<!--<hr>
    <footer id="footer" class="row-fluid copyright">
       <div class="span8">
          <div>
             <h3>Objetivos da FARMA</h3>
             <ul>
               <li>Permitir a construção de Objetos de Aprendizagem matemáticos</li>
               <li>Incentivar a construção de OAs na área matemática por parte dos professores</li>
               <li>Proporcionar um ambiente para construção de OAs matemáticos que seja de fácil utilização</li>
               <li>Incentivar o uso do erro como uma forma de aprendizagem, por meio das possibilidades:
                  <ul>
                    <li>Do professor poder analisar os erros e acertos dos aprendizes</li>
                    <li>Do professor e/ou aluno retroceder aos erros e acertos dos aprendizes</li>
                    <li>Permitir a troca remota de mensagens entre professores e aprendizes sobre os erros e acertos</li>
                  </ul>
               </li>

               <li>Oferecer mecanismos que permitam a construção de exercícios que incentivem
                   desenvolvimento gradual da capacidade de abstração do aprendiz</li>
               <li>Incentiver a remediação de erros por meio de dicas elaboradas</li>
               <li>Permitir mobilidade educacional</li>
               <li>Promover avaliação formativa</li>
             </ul>
           <div class='center footer'>
             <p>Projeto desolvido no programa de Pós-graduação da Universidade Federal do Paraná.</p>
             <a href="inf.ufpr.br">UFPR</a>
           </div>
          </div>
       </div>
       <div class="span4">
       -->
         {{ include "home/_contact" }}
         <!--
       </div>
    </footer>
</section>
-->