<section class="span6 offset3">
  <header class="separator">
    <h2 class="center">Perfil de {{name}}</h2>
  </header>
  <article>
    <form id="update-user-form" class="form-horizontal" novalidate>
      <input id="id" name="id" type="hidden" />
      <fieldset>
        <div id="name_group" class="control-group">
          <label class="control-label" for="login_user_name">Nome</label>
          <div class="controls">
            <input id="name" name="name" type="text" required="required" />
          </div>
        </div>
        <div id="email_group" class="control-group">
          <label class="control-label" for="login_user_email">Email</label>
          <div class="controls">
            <input id="email" name="email" type="email" required="required" />
          </div>
        </div>
        <div id="current_password_group" class="control-group">
          <label class="control-label" for="login_user_current_password">Preencha sua senha para atualização</label>
          <div class="controls">
            <input id="current_password" name="current_password" type="password" required="required" />
          </div>
        </div>

        <div class="form-actions">
          <input id="update_user_btn" type="submit" value="Atualizar" class="btn btn-primary" />
        </div>
      </fieldset>
    </form>
  </article>
</section>
