<hr/>
<p>
  <h3>Preencha o formulário com sua nova senha</h3>
</p>
<form id="reset-password-form" class="form-horizontal" novalidate>
  <input class="hidden" name="reset_password_token" type="hidden" />
  <fieldset>
    <div id="password_group" class="control-group">
      <label class="control-label" >Nova senha</label>
      <div class="controls">
        <input class="password required" maxlength="128" name="password" size="50" type="password" />
      </div>
    </div>
    <div id="password_confirmation_group" class="control-group">
      <label class="control-label" >Confirme sua senha</label>
      <div class="controls">
        <input class="password required" maxlength="128" name="password_confirmation" size="50" type="password" />
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" id='reset_password' value="Alterar Senha" class="btn btn-primary" />
    </div>
  </fieldset>
</form>
