<form id="retrieve-password-form" class="form-horizontal" novalidate>
  <fieldset>
    <div id="email_group" class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input id="email" name="email" type="email" required="required" />
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" id='reset_password' value="Envie-me instruções para mudar minha senha" class="btn btn-primary" />
    </div>
  </fieldset>
</form>
