<form id="signup-form" class="form-horizontal" novalidate>
  <fieldset>
    <div id="name_group" class="control-group">
      <label class="control-label" for="login_user_name">Nome</label>
      <div class="controls">
        <input id="name" name="name" type="text" required="required" />
      </div>
    </div>
    <div id="email_group" class="control-group">
      <label class="control-label" for="login_user_email">Email</label>
      <div class="controls">
        <input id="email" name="email" type="email" required="required" />
      </div>
    </div>
    <div id="password_group" class="control-group">
      <label class="control-label" for="login_user_password">Password</label>
      <div class="controls">
        <input id="password" name="password" type="password" required="required" />
      </div>
    </div>
    <div id="password_confirmation_group" class="control-group">
      <label class="control-label" for="login_user_password_confirmation">Confirm Password</label>
      <div class="controls">
        <input id="password_confirmation" name="password_confirmation" type="password" required="required" />
      </div>
    </div>

    <div class="form-actions">
      <input id="sign_up_btn" type="submit" value="Registrar-se" class="btn btn-primary" />
    </div>
  </fieldset>
</form>
