<div class="span6 offset3">
  <h2>Ferramenta de Autoria CARRIE</h2>
  <p>
    <em>
      Ferramenta de Autoria para construção de Objetos de Aprendizagem baseados em fractais para
      o ensino de matemática baseado no Controle de Acesso Retroativo e Reflexivo Indexado por Erros
    </em>
  </p>
  <div id="unauthenticated-view-container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#login" rel="tooltip"
        data-original-title="Faça o Login para acessar o sistema"
        data-toggle="tab" data-content="login">Login</a>
      </li>
      <li>
        <a id="sign_up_link" href="#signup" data-toggle="tab" data-content="signup" rel="tooltip"
           data-original-title="Registre para ter acesso ao sistema" >Registre-se</a>
      </li>
      <li>
        <a href="#retrieve-password" data-toggle="tab" data-content="retrievePassword">Esqueceu sua Senha</a>
      </li>
    </ul>
    <div class="tab-content" id="tab-content"></div>
  </div>
</div>
