  <header class='page-header'>
    <h2>Ajuda com Ferramenta de Autoria FARMA</h2>
  </header>

  <article>
    <header>
      <h4>Mostrar fórmulas em formato amigável</h4>
    </header>

    <hr />

    <p>Para mostrar formulás em formato amigável pasta colocá-las entre dois sinais de cifrão</p>
    Veja os exemplos:

    <div class="markdown_examples">
      <table>
        <tbody>
          <tr>
            <td>
              <pre>$ (30+2)^5 $</pre>
            </td>
            <td>
              $(30+2)^5$
            </td>
          </tr>
          <tr>
            <td>
              <pre>$ 2^(30+2)/sqrt(9) $</pre>
            </td>
            <td>
              $2^(30+2)/sqrt(9)$
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </article>

  <hr />

  <article>

    <header>
      <h4>Variáveis definidas na expressão de resposta serão automaticamente apresentadas no teclado virtual</h4>
    </header>

  </article>
