  <header class='page-header'>
    <h2>Ajuda com Ferramenta de Autoria FARMA</h2>
  </header>

  <article>
    <header>
      <h4>Mostrar fórmulas em formato amigável</h4>
    </header>

    <hr />

    <p>Para mostrar formulás em formato amigável pasta colocá-las entre dois sinais de cifrão</p>
    Veja os exemplos:

    <div class="markdown_examples">
      <table>
        <tbody>
          <tr>
            <td>
              <pre>$ (30+2)^5 $</pre>
            </td>
            <td>
              $(30+2)^5$
            </td>
          </tr>
          <tr>
            <td>
              <pre>$ 2^(30+2)/sqrt(9) $</pre>
            </td>
            <td>
              $2^(30+2)/sqrt(9)$
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </article>

  <hr />

  <article>

    <header class='page-header'>
      <h4>Variáveis da expressão</h4>
    </header>

    <p>Variáveis definidas na expressão de resposta serão automaticamente apresentadas no teclado virtual</p>

  </article>

  <article>

    <header class='page-header'>
      <h4>Questão com múltiplas respostas</h4>
    </header>

    <p>Caso necessite que uma questão tenha mais de uma resposta separe as expressões por ';' (ponto e vírgula), veja os exemplos: </p>

    <div class="markdown_examples">
      <table>
        <tbody>
          <tr>
            <td>
             <pre> 10;30;40 </pre>
            </td>
          </tr>
          <tr>
            <td>
             <pre>  2^x;30 </pre>
            </td>
          </tr>
          <tr>
            <td>
             <pre>  x+y;x-2  </pre>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
