<div class='page-header clearfix'>
   <div class='clearfix'>
     <div class='left'>
       <h3> Minhas turmas </h3>
     </div>
     <div class='right'>
        <a href='#' id='new_team' ><i class="icon-plus-sign"></i> Criar nova turma </a>
     </div>
   </div>
</div>
