<header class='clearfix'>
  <div class='left'>
    <h4>{{name}}</h4>
  </div>
  <div class='right'>
     <a href='' class='view-los'><i class='icon-eye-close'></i> Ver Objetos de Aprendizagem</a>
  </div>
</header>

<section class='show-los hide'></section>
