<header>
  <div class='clearfix'>
   <div class='left'>
      <h4>{{name}}</h4>
    </div>
    <span class='right'>
      <a href='#' data-id='{{id}}' id='edit_team'><i class="icon-edit"></i> Editar </a>
      <a href='#' data-id='{{id}}' id='destroy_team' ><i class="icon-remove-circle"></i> Remover </a>
    </span>
  </div>
    <span class='date-info'>
      Criado em {{created_at}}
    </span>
</header>
<hr>
