<hr >
<article class='lo'>
  <header class='clearfix'>
   <div class='left'>
     <h5>{{name}}</h5>
   </div>
   <div class='right date-info'>
      Criado por {{created_by}} em {{created_at}}
   </div>
  </header>
  <p>{{description}}</p>
</article>
