<div class='page-header clearfix'>
   <div class='clearfix'>
     <h3 class='left'> Todas turmas </h3>
     <div class='right'>
     <form class="form-search">
        <div class="input-append">
          <input type="text" class="span8 search-query" name='search'>
          <button type="submit" class="btn">Buscar</button>
        </div>
     </form>
   </div>
</div>
