/*** COMMENTS ***/

#comments {
  margin-top: 10px;
  .comment_content {
    padding-top: 10px;
  }
}

.comment {
  margin: 20px 0;
  position: relative;
}

.comment .avatar {
  float: left;
  border: solid 1px #CCC;
  color: #FFF;
  padding: 4px;
}

.comment .avatar img {
  display: block;
}

.comment .user_actions {
  position: absolute;
  top: 72px;
}

.comment .main {
  margin-left: 83px;
}

.nested_comments {
  margin-left: 83px;
}

.nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

.comment .headline {
  padding: 5px 14px;
  font-size: 12px;
  background-color: #DDD;
  border: solid 1px #BBB;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
  background: -moz-linear-gradient(top,  #EEE, #CCC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#CCC');
}

.comment .position, .comment .name {
  font-weight: bold;
}

.comment .created_at {
  color: #666;
  padding-left: 8px;
}

.comment_content {
  padding: 1px 15px;
  background-color: #FFF;
  border: solid 1px #CCC;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

.comment blockquote {
  margin: 0;
  padding-left: 10px;
  border-left: solid 5px #CCC;
  color: #777;
}


#add_comment {
  margin-top: 30px;
}

.formatting {
  font-size: 12px;
  margin: 8px 0px;
  pre {
    margin: 5px 0 9px;
  }
}

.markdown_examples {
  margin-top: 5px;
}

.markdown_examples table {
  border-collapse: collapse;
}

.markdown_examples table td {
  border: solid 1px #CCC;
  padding: 2px 10px;
}

.markdown_examples .code_block {
  width: 200px;
}

form#new_comment {
  padding-right: 15px;
  textarea {
    width: 100%;
    height: 70px;
  }
  span.error {
    color: red;
  }
}
