.markdown_examples {
  margin-top: 5px;
}

.markdown_examples table {
  border-collapse: collapse;
}

.markdown_examples table td {
  border: solid 1px #CCC;
  padding: 5px 10px;
}

.markdown_examples .code_block {
  width: auto;
}
