// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'functions';

.center{ text-align: center;}
.text-right{ text-align: right;}
.text-red{ color: red;}
.text-green{ color: green;}
.right {float:right;}
.left { float: left; }
.separator{padding: 10px 0px;}
.separator-top{padding-top: 10px;}
.clear {clear:both;}
.date-info {
  color: #999;
  font-size: 11px;
}

div#welcome {
  float: right;
}

.logged-in {
  margin-top: 0px;
  margin-right: 20px;

  span {
    display: inline-block;
    margin-top: 6px;
    vertical-align: top;
    font-size: 15px;
  }

  img {
    border: solid 1px black;
    border-radius: 2px;
    margin: 3px 5px 3px 3px;
    height: 23px;
    width: 23px;
  }

  .btn-sign-out{
    font-size: 25px;
    color:#999;
    top: 4px;
    position: absolute;
    &:hover{
      color: red;
    }
  }

  .btn-clean {
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    moz-box-shadow: none;

    color: #999;

    &:hover {
      text-decoration: none;
    }
  }
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.subhead h1 {
  font-size: 35px;
}
.subhead p {
  line-height: 10px;
}

.subhead .container-fluid {
  margin-bottom: 20px;
}

/* Side menu fixed
------------------------- */
.sidebar-nav-fixed {
    padding: 10px 0px;
    position:fixed;
    width: 282px;
    top: 40px;
}

.nav-fixed > .active > a,
.nav-fixed > .active > a:hover {
  background-color: #f5f5f5;
  background-image: none;
}

.nav-fixed > .active > a > i[class^="icon-"] {
  background-image: none;
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
      position:static;
      width:auto;
    }
}

/* Clear fixed
------------------------- */
/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clearfix h1,
.clearfix h2,
.clearfix h3,
.clearfix h4 {
  line-height: 0px;
}

/* Alert message fixed
------------------------- */

#alert-fixed {
  position: fixed;
  top: -10px;
  text-align: center;
  width: 50%;
  z-index: 10000;
  padding: 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* Toggle left menu
------------------------- */
.toggle-menu {
  font-size: 25px;
  position: fixed;
  left: 20px;
  margin-left: -8px;
}
@media (max-width: 767px) {
  .toggle-menu {
    position: absolute;
    top: 182px;
  }
}

@media (max-width: 593px) {
  .toggle-menu {
    position: absolute;
    top: 230px;
  }
}

/* loading
------------------------- */
.loading {
  display: none;
  background: #000;
  @include border-radius(10px)
}
