// Place all the styles related to the los controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#los {
  header{
    margin-bottom: 30px;
  }
  p {
    font-size: 12px;
  }
}

.options-links {
  margin-left: 10px;

  a {
    visibility: hidden;
    margin-left: 5px;
  }

  &:hover a {
    visibility: visible;
  }
}

.lo-paginator ul li > a > select {
  height: 20px;
  margin-top: 4px;
  margin-bottom: 3px;
}

.lo-paginator ul li > a {
  padding: 0 5px;
  line-height: 25px;
  font-size: 12px;
}

.lo-paginator ul {
  background-color: whiteSmoke;
  padding: 2px;
}

@media screen and (max-width: 979px) {
  .lo-paginator {
    .first, .last {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .lo-paginator {
    height: auto;

    .first, .last {
      display: block;
    }

    ul {
      display: block;
      margin-bottom: 20px;
      margin-left: 0;
      list-style: none;
      width: auto;

      li > a:hover {
         text-decoration: none;
         background-color: #eeeeee;
         z-index: 2;
         border-color: #ddd;
      }

      li:last-child > a {
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
      }

      li {
        margin-right: 0;
        a {
          float: none;
          font-size: 14px;

          -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
          -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
          -moz-border-radius-topright: 4px;
          -moz-border-radius-topleft: 4px;

          display: block;
          margin: 0 0 -1px;
          padding: 8px 14px;
          border: 1px solid #E5E5E5;

        }
      }
    }
  }
}
