@import 'functions';

.teams {
  article.lo {
    padding: 10px;
    &:hover {
      background-color: white;
      cursor: pointer;
      @include border-radius(5px);
    }
  }

  form {
    margin:0px;
    span.error {
      color: red;
    }
  }
}

#team-form {
  .checkbox-column {
    margin-left: 30px;
  }
}
