@import "functions";

#code {
  margin-bottom:15px;
}

.virtual-keyboard.modal {
  //padding: 10px;
  border: 2px solid #EEE;
  width: 600px !important;
  height: 603px;
  /*margin: -350px 0 0 -300px;
  top:15%;*/

  hr {
    margin: 5px 0px;
    height: 2px;
    background: white;
  }

  .well {
    margin-bottom: 0px;
  }

  .btns {
    div {margin-top: 5px;}
    .btn {
      width: 15px;
      text-align: center;
    }
    .send {
      width: 45px;
    }
    .clean, .calc {
      width: 50px;
    }
  }

}
