<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para alterar sua senha, e você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource) + "/#{@resource.reset_password_token}" %></p>

<p>Se você não solicitou, por favor ignore este e-mail.</p>
<p>Sua senha não vai mudar até que você acessar o link acima e criar uma nova senha.</p>
