<hr />
<header>
   <h4>{{title}}</h4>
</header>

<p> {{safe content}} </p>

<div class='well'>
  <form class="form-horizontal" id="{{id}}">
    <label for="answer">Digite sua resposta</label>
    <input name="id" type="hidden" value='{{id}}' />
    <input name="answer" type="text" placeholder="Digite sua resposta." />
    <button type="submit" class="btn btn-primary btn-verify">Enviar</button>
  </form>
</div>
