<div class='clearfix'>
  <div class='right'>
    <a href='' class='edit-tip-link' ><i class="icon-edit"></i> Editar </a>
    <a href='' class='destroy-tip-link' ><i class="icon-remove-circle"></i> Remover </a>
  </div>
  <p><strong>Texto: </strong>{{content}}</p>
  <p><strong>Mostrar</em> após a {{number_of_tries}} tentativa sem sucesso</p>
</div>
