<div class='page-header'>
   <div>
     <h3>Respostas</h3>
   </div>
   <div class='visual_search'></div>
</div>
<p class='pages-info text-right'></p>
<table class='table table-bordered'>
  <thead>
    <th>Turma</th>
    <th>OA</th>
    <th>Exercício</th>
    <th>Questão</th>
    <th>Ocorrida em</th>
    <th>Resposta</th>
    <th>Correta</th>
    <th>Aprendiz</th>
  </thead>
  <tbody>
  </tbody>
</table>
