<div class="alert alert-danger" role="alert">
<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<span class=""><strong>Atenção</strong></span>
<p>
Você está utilizando o FARMA-ALG com a base de dados para testes (teste.farma-alg.com.br).
</p>
<p>
Essa base de dados é reiniciada a cada 6 horas.
</p>
<p>
Você pode utilizá-la para conhecer um pouco melhor o sistema. Abaixo seguem alguns logins que você pode utilizar:

<ul>
  <li>Professor 1:</li>
  <ul>
    <li>Email: prof1@a.com</li>
    <li>Senha: iopiop</li>
  </ul>
  <li>Aluno 1:</li>
  <ul>
    <li>Email: aluno1@a.com</li>
    <li>Senha: iopiop</li>
  </ul>
</ul>
</p>

<p>
Você também pode utilizar outros alunos (Aluno 2, Aluno 3, etc).
</p>
</div>
